
<div class="section-terminal"><h3>~/$ cat Web.md</h3></div>

<h1 id="HTML-CSS">HTML/CSS</h1>

    <p>Le language HTML et le language CSS sont les fondations de tout site internet. Ce ne sont pas des language de programation, mais plutôt de description, donnant des directive au navigateur, par rapport au contenu et à l'apparence d'une page web.</p>
    <p> Je les ai donc utilisés dans tous mes projets webs, et notamment dans notre <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3"> SAE de troisième semestre </a>. </p>
    <p> Je considère avoir un très bon niveau dans ces deux langages, mais aussi plus généralement dans le design d'interfaces et d'experience utilisateur adaptée au produit et sa cible. </p>

<hr>
    
<h1 id="PHP">PHP</h1>
    
    <p>Contrairement au HTML et au CSS, PHP est un language de programmation orienté objet, dont le rôle est de "personnaliser" les pages envoyé au client par le serveur. </p>
    <p>Je l'ai par exemple utilisé en TD et en SAE, pour afficher des données calculées différentes, selon l'identifiant présent dans le cookie d'authentification sur l'ordinateur du client.</p>
    <p>J'ai acquis une très bonne maîtrise de language, principalement grâce à la SAE de troisième année, mais aussi car le language est fonctionnellement et syntaxiquement très similaire à <a class="pf-link" routerLink="/Portfolio/Skills/Java">Java</a>.</p>

<hr>

<h1 id="JavaScript"> JavaScript </h1>

  <p> Javascript joue un peu le même rôle que le PHP, dans le sens où il peux modifier les pages HTML et effectuer diverses opérations et requêtes vers d'autres services. </p>
  <p> La différence principale réside dans le fait que PHP tourne sur un serveur, et que le JavaScript va être exécuté sur l'ordinateur du client (Même s'il est aussi possible de le faire tourner sur un serveur, afin qu'il fasse exactement comme PHP). </p>
  <p> Cette exécution côté client est préférable dans certains cas, car elle évite des requêtes au serveur, et donc un rechargement complet de la page. Cela apporte une expérience utilisateur plus fluide, tout en consommant moins de bande passante. </p>
  <p> J'ai principalement utilisé ce language (enfin, une version dérivée nommée "TypeScript") lors de mon <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025"> stage de deuxième année. </a> </p>