
<h1> Exponential Growth in Minecraft vs Satisfactory</h1>

  <p>Exponential growth seems to be a fundamental aspect of living organisms. Take a system that can duplicate itself every second : At 0 second, you have 1 system. At 1, you have 2. 2 becomes 4, 4 becomes 8, 16, 32, 64, 128, 256, and it hasn't even been 10 seconds yet.</p>

  <p>It is observed in a lot of systems, but I'm not here to list every single one of them, I'm here to talk about Video Games, so for my example, I will take their target audience : Humanity.</p>

  <p>Human development is a perfect example of exponential growth. Chances are you're reading this in the first half of the 21st century, meaning that you're at a great place to see it. How many world-changing technologies have you witnessed during the last few years ? Probably more than anyone else at any other time period would answer, for 2 main reasons :</p>

  <ul>
    <li>1) Discovering a technology and making the first prototype is way slower and more expensive than just building it with the appropriate blueprints.</li>
    <li>2) These discoveries are used to discover more things and build new cool things</li>
  </ul>

  <p>A good example here would be the internet : Electricity took a while to get right. It didn't take as long to use it to make basic calculators. Even less time was needed to turn these calculators into computers. Then an entire sub-field of engineering dedicated to software, computers getting smaller and more powerful, almost all of them connected to each other, and after that, it's only a few years to fill this network with more things than you can imagine.</p>


<h2> Minecraft and Satisfactory</h2>

  <p>The rest of this article will be difficult to understand if you have no familiarity whatsoever with any of the two games, but I'll do my best to explain their core gameplay.</p>

  <p>Conceptually, the 2 games are very similar : You are dropped into the wilderness with practically nothing, wild animals/monsters are trying to kill you, you can gather resources from the world, store these resources, and build things with them.</p>

  <p> The main difference between the 2 games are their goal : what is the player trying to achieve ?</p>

  <p> In Satisfactory, your goal is to generate materials used to build stuff. How you do it (by hand or through a complex network of factories) is up to you.</p>

  <p> In Minecraft, the only explicit goal is to kill a dragon in another dimension, but aside from that, it's up to the individual to set their own goals, like building castles and factories by hand with the resources you have gathered.</p>

  <p> Keeping these goals in mind, the game developer has all the reasons to make it engaging to fulfill these goals. In the case of Satisfactory, this comes in the form of a very satisfying exponential growth mechanism, where the goals increase at the same rate as your ability to fulfill them. This is exponential growth well done.</p>

  <p> In the case of Minecraft, this comes in the form of... Well, not much in particular, actually. Building things is (arguably) what Minecraft is all about, but you will never get a popup text in your game reminding you or rewarding you in any way for building something. Nonetheless, it is the intuitive thing to do, and everybody does it. Sometimes at SCALE. And that's where things go wrong. </p>

  <p> Picture the scenario : You've decided to build something that will require a LOT of pink concrete. Let's say you've been playing in your Minecraft world for 50 hours. At this point you should be very well advanced, having a lot of resources, either from farms you've built, or that you simply gathered by hand with the max level tools you now have. But no pink concrete in your chests. No big deal. the main goal of this game is to build stuff, so gathering the resources to build should be engaging and rewarding, right ?</p>

  <p> Pink Concrete = sand + gravel + pink dye</p>

  <p> Ok, let's get sand. You fly to a desert you've seen on the map, and you're able to collect it at an approximate rate of 10 sand blocks per second. Very efficient. Transport isn't a problem. Great !</p>

  <p> Let's get the gravel now. Fuck. Where can I find gravel ? Random pockets deep underground : inefficient. A particularly rare biome where it is abundant but these biomes are not common, so : inefficient, not fun. Bottom of the ocean : slow, not fun.</p>

  <p> Well that wasn't fun at all, but you have managed to gather all the gravel you need. Yaaaaaay...</p>

  <p> Last ingredient : pink die, how hard can it be ? Oh. They come from flowers and... Nope, just flowers. I guess you will now have to start gathering pink flowers by hand all across the world. </p>

  <p> (Alright I'm being a bit disingenuous here, you can make pink dye from red and white dye, white dye is easily obtainable from bones, and red dye would have the same rarity problem if you couldn't use bonemeal on one particular type of flower to just duplicate it. But far from everybody knows that)</p>

<h2> Conclusion</h2>

  <p> Minecraft fails to do exponential growth correctly : There comes a point where, for many things, the efficiency with which you gather and produces resources stops to increase. Satisfactory excels at it : In response to everything getting easier to do, the game asks more of you.</p>

  <p> All of this because the first game does not recognize what its main goal is, and so, does little to make reaching it fun and rewarding, while the second game knows its goal, and so, does everything it can to make it fun and rewarding.</p>

  <p> Know the goals of your game. Make it fun to reach them.</p>

<hr>

  <p> As a bonus note, What I refer to as factories or farms in Minecraft are mostly constructions that outsmart the game itself. Meaning that if the mechanics of the game were slightly tweaked, all of this would not exist and exponential growth in this game would be way worse.</p>
