
<div class="section-terminal"><h3>~/$ cat Contact.md</h3></div>

<!-- <h1>Lorem ipsum ... Oh c'est facile de juger, essayez de trouver un titre pour cette page aussi</h1> -->

<blockquote>
  <h3> <b> "Rah mais y a aucune quote qui va bien avec une page de contact !"</b></h3>
  <p> <b>- Yann, ce matin</b></p>
</blockquote>

  <p> Disclaimer : L'adresse mail ici n'est pas ma réelle adresse professionnelle, car je ne souhaite pas qu'elle soit publique, tout comme mon numéro de téléphone.</p>

  <ul>
    <li> <p> Mail : <a class="pf-link" href="mailto:greenjacketboy@proton.me"> greenjacketboy&#64;proton.me</a></p></li>
    <li> <p> Linkedin : <a class="pf-link" href="https://www.linkedin.com/in/green-jacket/"> linkedin.com/in/green-jacket</a></p></li>
  </ul>
  