<footer>
  <div #footerDiv class="footer" [ngClass]="style">
    <div class="section-terminal footer-quote" (click)="nextQuote()"><h3>{{ currentQuote() }}</h3></div>
    <div class="logos">
      <a title="CV" href="assets/files/CV-Yann-Bodiguel.pdf" target="_blank"><img ngSrc="assets/images/cv.webp" alt="CV" width="50" height="50" priority></a>
      <a title="DeviantArt" href="https://www.deviantart.com/greenjacketboy" target="_blank"><img ngSrc="assets/images/deviantart_logo.webp" alt="deviantart-logo" width="50" height="50" priority></a>
      <a title="Linkedin" href="https://www.linkedin.com/in/green-jacket/" target="_blank"><img ngSrc="assets/images/linkedin_logo.webp" alt="linkedin-logo" width="50" height="50" priority></a>
      <a title="GitHub" href="https://github.com/GreenJacketBoy" target="_blank"><img ngSrc="assets/images/github_logo.webp" alt="github-logo" width="50" height="50" priority></a>
    </div>
  </div>
</footer>
