---
import ArticlesLayout from "../../components/ArticlesLayout.astro"
---
<ArticlesLayout>

<h1> Galactic Kings of the hill: a Time travel theory</h1>

  <p> Let's start by creating a world. This world is an Earth like planet, and there are 2 nations : Red and Blue. These 2 nations are equal on all metrics — land, technology, population... —, but for reasons that are not explained, they are in a constant war.</p>

  <p> For the rest of the story, let's follow Blue. As technology is advancing at a similar rate for the 2 nations, Nuclear Bombs are entering the equation. If Red get their hands on one first, they can do 2 things, and none of them are good for Blue :</p>

  <ul>
    <li> Nuke Blue,</li>
    <li> Threaten to nuke Blue, unless they do exactly what Red wants.</li>
  </ul>

  <p> In the second scenario, Blue still has a chance of at least restoring equality, by running a secret program to develop Nuclear Bombs of their own. If successful the 2 nations will be trapped in a nuclear standoff, where one knows that, for the time it takes for their Nuclear Bombs to reach their target, this same target will have had time to fire theirs.</p>


<h2> Time Travel</h2>

  <p> It's been a while, and the 2 nations are getting close to the next big thing : Time Travel. Just like Nuclear Bombs, Time Travel gives an immediate "GG, just give up" advantage to whomever gets it first. If Red gets it first, they can :</p>

  <ul>
    <li> Erase Blue from history,</li>
    <li> Threaten to erase Blue from history, unless they do exactly what they want,</li>
    <li> Do all sort of thing with the goal of altering history in their favor.</li>
  </ul>

  <p> However, unlike with Nuclear Bombs, in the case where Blue does not immediately get erased from History, it's going to be virtually impossible for them to run a secret Time Machine program. Why so ? Because, :</p>


<h2> For all we know, it's already over</h2>

  <p> No matter how many times the Past is changed, there had to be <b>one</b> point, where a full timeline, from the beginning to the end of times (assuming these exist), was free of any modifications.</p>

  <p> In that case, with little regards to deterministic theories, the fate of the 2 nations is not sealed : None of them has a big advantage over the other in this arm race.</p>

  <p> But how can you know in which timeline you are ? Can you be certain that, just because no time travel has been observed, it hasn't occurred ? Of course not. For all you know, the last 20 leaders of your nations were time travelers from Red.</p>


<h2> On a bigger scale</h2>

  <p> Let's leave Red and Blue for something bigger and more complex. Imagine a Galactic world, full of different intelligent species, something like Star Wars or Star Trek.</p>

  <p> For every specie aware of what I'm telling you, it is a matter of survival to make sure that they (including strong alliances) are the first with the ability to time travel, because if it's not them, it might be someone else, and if this happens, there will not be any winning move anymore.</p>

  <p> <b>EXCEPT</b> for one !</p>

  <p> Let's assume that every somewhat significant changes from the past can change not only the present/future, but by extension, the time travelers who had departed from this previous present/future, no matter when or where they are. See the <a href="https://simple.wikipedia.org/wiki/Grandfather_paradox" target="_blank">Grandfather paradox</a>.</p>
  
  <p> If you manage to prevent the creation of the original time machine — which had led the first time travelers to become galactic kings of the hill through a complex network of sleeping agents across time and space —, all of their time travel progress will be wiped.</p>

  <p> Given that, while the Time Machine arm race is still going, and no one has one yet, you should look for subtle signs that someone might be being protected while others are being sabotaged. Maybe you will be lucky, and you are the one who got there first, but maybe not.</p>

  <p> If something like I've described appears, see if small attempts at slowing them down reveal any efficiency. If they do, they are likely not protected. If all attempts systematically fail, you've got a problem, and with this knowledge, maybe the means to fix it.</p>

</ArticlesLayout>
