
<div class="section-terminal"><h3>~/$ cat Sql.md</h3></div>

<h1>SQL ?</h1>

    <p>SQL (l'acronyme n'est pas important, et de toute façon, je ne le connais pas) est le langage de programmation le plus utilisé pour créer et interagir avec des tables de données.</p>
    <p>Il s'utilise principalement sous la forme de requêtes plus ou moins complexes. La syntaxe et ses fonctions sont relativement simples, par exemple : <strong>SELECT nom FROM Utilisateur WHERE age >= 18;</strong> va me retourner les noms de la table Utilisateur, de ceux qui sont majeurs.</p>

<hr>

    <p>La puissance de ce langage provient de la complexité des requêtes qu'il est possible de faire, avec des jointures sur d'autres tables, de la recherche dans le résultat d'une requête, des attributs calculés ... La complexité réside dans les concepts, plutôt que les fonctions en elles-mêmes.</p>
    <p>Bien que ce ne soit pas le langage avec lequel je sois le plus à l'aise, ma compréhension des concepts liés à son utilisation, et mon expérience avec au cours de multiples projets le fait figurer dans mes compétences fortes.</p>