
<h1> Not unless what they're showing off is dope as fuck</h1>

  <p> The title of this post is part of a dialogue from <a href="https://en.wikipedia.org/wiki/The_Suicide_Squad_(film)">The Suicide Squad (2021)</a>, responding to <i>"No one likes a show off"</i>. This clip was used in a video titled "<a href="https://youtu.be/09_18-KKOig">Lore-Accurate Ways To Play AC Unity</a>", to support a point that I'd like to present.</p>

  <blockquote> Arrogance : an attitude of superiority manifested in an overbearing manner or in presumptuous claims or assumptions.</blockquote>

  <p> I've met a few people who fit this definition, and the experience was kind of frustrating as they do not change their minds nor learn from their mistakes. In stories, it's quite usual to have a character start as arrogant and cynical, only to end up on the complete opposite of this spectrum by the end of their character arc.</p>

  <p> Arrogance is not a good trait to have, because it makes you look like an unreliable person who think they are better than others because they overestimates their own skills. Of course this is different from confidence, as confidence is gained from real achievements and people with this trait usually respect others.</p>

  <p> They feel pretty close, but I've actually seen something in-between the two. To quote the video :</p>

  <blockquote> This is what sets Arno apart from just being an impatient unlikable prick. It's the fact that he's actually good at what he does.</blockquote>

  <p> An MMA fighter landing a backflip after a knockout. A getaway pilot drifting around police cars. Any amateur parkour escape videos.</p>

  <p> When you're just so good at something that it looks like you're overplaying it when you're not, you could just be confident and respect everyone, which is great, and very good for making a better world, if I may. But at this level, you're more than allowed to have informed sharp opinions about anyone and anything as long as it has something to do with your field of expertise, and the way you communicate them should be up to your character.</p>

  <p> Not everyone will like you, and you obviously can't act this way in all context, but I find myself really liking people and character who have this sort of legitimated arrogance. It shows they value integrity above pleasing as many people as possible.</p>

  <p> And that's good.</p>