<div class="section-terminal" target="_blank"><h3>~/$ cat Roman_de_science_fiction.md</h3></div>

<h1> Hein ?</h1>

  <p> Je n'avais prévu de ne mettre que des projets informatiques dans ce portfolio, étant donné que je souhaite être développeur, mais ... En fait j'ai passé au moins autant de temps là-dessus  et appris au moins autant (bien que dans un tout autre domaine) que sur d'autres projets que je présente.</p>

  <p> Je suis très sérieux sur ce projet commencé il y a un peu plus d'un an, et cela me frustre pas mal de ne pas pouvoir avancer concrètement dessus dû au temps que me prennent mes études. Cependant j'avance presque quotidiennement dessus de manière assez minimale, en notant des dialogues et des événements qui me viennent à l'esprit, et j'estime l'histoire complète à environ 70%, car il reste encore beaucoup de transitions et d'événements avec lesquels je ne suis pas complètement satisfait.</p>

  <p> Ma principale ressource a été la chaîne <a class="pf-link" href="https://www.youtube.com/@WriterBrandonMcNulty" target="_blank">Writer Brandon Mcnulty</a>, et simplement Youtube en général. Toutes ces vidéos m'ont donné les règles à suivre et les erreurs à éviter dans l'écriture de fiction, comme les mauvaises manières de démarrer une histoire, les meilleurs moyens d'introduire un personnage, et probablement des centaines d'autres choses contribuant à rendre une histoire unique et mémorable.</p>

  <p> 
    Contrairement à mes autres projets, je n'ai pas réellement de "traces" à présenter, 
    car je souhaite garder l'histoire privée tant qu'elle n'est pas fini, <i>maaaaaais</i> 
    je serai ravi d'en discuter, et l'un de mes personnages possède même son propre site portfolio
    <a class="pf-link" href="https://amanda-rebel.neocities.org/" target="_blank">right here</a> !
  </p>