<body>
    <main>

        <div class="body-content">

        <div class="tout">
            <div>
            
                <router-outlet></router-outlet>

            </div>

            <div class="image-and-text">
            <img src="assets/images/picture_close.png" alt="Picture" class="picofme">
            <div class="small-text">
                <ul>

                <li>Prenom : Yann</li>
                <li>Nom : (Green Jacket) B.</li>
                <li class="dynamic"><a routerLink="AboutMe"><span class="arrow">> </span>About me</a></li>
                <li>- - - - - - - - - - - - - - - -</li>
                <li>Compétences : </li>
                <li class="dynamic"><a routerLink="Skills/Java"><span class="arrow">> </span>Java</a></li>
                <li class="dynamic"><a routerLink="Skills/Web"><span class="arrow">> </span>Web</a></li>
                <li class="dynamic"><a routerLink="Skills/SQL"><span class="arrow">> </span>SQL</a></li>

                <li>- - - - - - - - - - - - - - - -</li>
                <li>Projets : </li>
                <li class="dynamic"><a routerLink="Projects/SaeTrains"><span class="arrow">> </span>SAE Trains</a></li>
                <li class="dynamic"><a routerLink="Projects/SaeS3"><span class="arrow">> </span>SAE 3eme Semestre</a></li>
                <li class="dynamic"><a routerLink="Projects/NDI2024"><span class="arrow">> </span>Nuit de l'Info</a></li>

                </ul>
            </div>
            </div>
        </div>

        </div>
    </main>
    <footer>
        <div class="footer">
        <div></div>
        <div class="logos">
            <a href="img/CV-Yann-Bodiguel.pdf"><img ngSrc="assets/images/cv.png" alt="CV" width="50" height="50"></a>
            <a href="https://www.deviantart.com/greenjacketboy"><img ngSrc="assets/images/deviantart_logo.png" alt="deviantart-logo" width="50" height="50"></a>
            <a href="https://www.linkedin.com/in/green-jacket/"><img ngSrc="assets/images/linkedin_logo.png" alt="linkedin-logo" width="50" height="50"></a>
            <a href="https://github.com/GreenJacketBoy"><img ngSrc="assets/images/github_logo.png" alt="github-logo" width="50" height="50"></a>
        </div>
        </div>
    </footer>
</body>