---
import PortfolioLayout from "../../../components/PortfolioLayout.astro"
---
<PortfolioLayout navIndex={-1}> <!-- Yeah, yeah, I don't care, this is a temporary page -->

<div class="section-terminal"><h3>~/$ cat Portfolio_apprentisage.md</h3></div>

<hr>
<section>
    <h2>Compétence : Concevoir et développer des applications informatiques</h2>

    <h4><b>AC31.01 : Choisir et implémenter les architectures adaptées</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE1.04 | en veillant à la qualité du code et à sa documentation</b></li>
        <li>Exemple : <a href="/Portfolio/Projects/SpaceshipCrew">Projet en C</a> : conception d'une architecture sans convention, avec une attention particulière à la qualité du code et à sa documentation dans un langage non orienté objet.</li>
    </ul>

    <h4><b>AC31.02 : Faire évoluer une application existante</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE1.01 | en respectant les besoins décrits par le client</b></li>
        <li>Exemple : <b>SAE Very Bad Split</b> : amélioration de la base de données selon les spécifications client, en respectant les besoins décrits.</li>
    </ul>

    <h4><b>AC31.03 : Intégrer des solutions dans un environnement de production</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE1.06 | en choisissant les ressources techniques appropriées</b></li>
        <li>Exemple : <b>Projet site de critique</b> : déploiement avec FileZilla, SSH, ViteJS, et gestion des dépendances via Composer/npm.</li>
    </ul>

</section>

<hr>
<section>
    <h2>Compétence Optimiser : Analyser et optimiser des applications</h2>

    <h4><b>AC32.01 : Anticiper les résultats de diverses métriques</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE2.02 | en recensant les algorithmes et les structures de données usuels</b></li>
        <li>Exemple : <b>Cours de développement efficace</b> : recensement des algorithmes et structures de données usuels pour optimiser les performances (principalement sur le temps d'exécution, mais aussi l'occupation mémoire).</li>
    </ul>

    <h4><b>AC32.02 : Profiler, analyser et justifier le comportement d'un code existant</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE2.03 | en s'appuyant sur des schémas de raisonnement</b></li>
        <li>Exemple : <b>Cours de Maintenance applicative</b> : refactorisation d'une application en établissant son comportement attendu et en optimisant le code sans altérer ses fonctionnalités.</li>
    </ul>

    <h4><b>AC32.03 : Choisir et utiliser des bibliothèques et méthodes dédiées</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE2.04 | en justifiant les choix et validant les résultats</b></li>
        <li>Exemple : <a href="/Portfolio/Projects/SheikahSlateWeb">Projet Perso Sheika Slate Web</a> : utilisation de React et Maplibre, justifiée par les besoins de l'application, les performances et l'expérience de développement.</li>
    </ul>
</section>

<hr>
<section>
    <h2>Compétence Collaborer : Manager une équipe informatique</h2>

    <h4><b>AC36.01 : Organiser et partager une veille technologique</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE6.04 | en développant une communication efficace et collaborative</b></li>
        <li>Exemple : <b>Cours sur la veille technologique</b> : rédaction hebdomadaire de résumés d'articles en équipe, sur des thèmes prédéfinis.</li>
    </ul>

    <h4><b>AC36.02 : Identifier les enjeux de l'économie de l'innovation numérique</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE6.03 | en veillant au respect des contraintes juridiques</b></li>
        <li>Exemple : <b>Divers cours du BUT</b> : sensibilisation aux modèles économiques du logiciel (SaaS, open source, éditeurs), propriété intellectuelle et licences.</li>
    </ul>

    <h4><b>AC36.03 : Guider la conduite du changement informatique</b></h4>
    <ul>
        <li>niveau : <b>Acquis</b></li>
        <li>Composante : <b>CE6.02 | en accompagnant la mise en œuvre des évolutions informatiques</b></li>
        <li>Exemple : <a href="/Portfolio/Projects/Stage2025">Stage de deuxième année</a> : remplacement d'une librairie JS de cartographie et réalisation de la documentation associée.</li>
    </ul>

    <h4><b>AC36.04 : Accompagner le management de projet informatique</b></h4>
    <ul>
        <li>niveau : <b>Non applicable</b></li>
        <li>Exemple : Je ne pense pas avoir aquis cette compétence.</li>
    </ul>
</section>