<div class="section-terminal"><h3>~/$ cat Game_Critics.md</h3></div>

<h1> Projet Game-Critics</h1>
  <p> Dans les grandes lignes, les consignes pour ce projet étaient les suivantes :</p>

  <p> Réaliser une application web permettant aux utilisateurs d'émettre des critiques sur une instance d'un thème que nous aurions choisis. Dans notre cas, nous avons choisis de réaliser une application de critique de jeux vidéos.</p>
  <p> L'important détail était les contraintes sur les méthodes et technologies que nous devions utiliser, à savoir :</p>

  <ul>
    <li> Le BackEnd devait consister d'une Base de Donnée SQL, avec laquelle nous pouvions intéragir au travers d'une API un utilisant le Framework PHP Symfony</li>
    <li> Le FrontEnd devait être réalisé à l'aide du Framework VueJS, et se devait de présenter au mieux les possibilitées offertes par la réactivité caractéristique de ce framework</li>
  </ul>

<hr>

  <p> Ayant déjà eu de l'expérience sur d'autres framework réactifs tels que React et Angular, j'ai principalement travaillé sur le FrontEnd du projet, même si j'ai contribué à un nombre non-négligeable de résolution de bugs et d'incohérence minimes dans l'API.</p>

  <p> (P.S. Le projet étant toujourrs en cours au moment de la rédaction, le site web affiché sur les captures d'écran n'est pas exactement esthéthiquement plaisant, mais il est proche de 100 % fonctionnel)</p>

  <img class="pf-image" ngSrc="assets/images/game_critics.webp" width="1200" height="609" alt="Capture d'écran du projet Game Critics" priority>
