
<div class="section-terminal"><h3>~/$ cat Web.md</h3></div>

<h1>HTML/CSS</h1>

    <p>Le language HTML et le language CSS sont les fondations de tout site internet. Ce ne sont pas des language de programation, mais plutôt de description, donnant des directive au navigateur, par rapport au contenu et à l'apparence d'une page web.</p>
    <p>Je les ai donc utilisés dans tous mes projets webs, et notamment dans notre SAE de deuxième année.</p>
    <p>Je pense avoir acquis un niveau relativement bon, bien que je ne dirais pas que ces deux languages sont mes points les plus forts.</p>

<hr>
    
<h1>PHP</h1>
    
    <p>Contrairement au HTML et au CSS, PHP est un language de programmation orienté objet, dont le rôle est de "personnaliser" les pages envoyé au client par le serveur. </p>
    <p>Je l'ai par exemple utilisé en TD et en SAE, pour afficher des données calculées différentes, selon l'identifiant présent dans le cookie d'authentification sur l'ordinateur du client.</p>
    <p>J'ai acquis une très bonne maîtrise de language, principalement grâce à la SAE de troisième année, mais aussi car le language est fonctionnellement et syntaxiquement très similaire à <a class="pf-link" routerLink="/Portfolio/Skills/Java">Java</a>.</p>
