
<div class="section-terminal"><h3>~/$ cat Java.md</h3></div>

<h1>Java ?</h1>

    <p>Java est un language de programmation orienté objet, ce qui veut globalement dire qu'il est possible de réaliser des applications qui peuvent être exécuté par un ordinateur, en utilisant ce language.</p>
    <p>Le terme "orienté objet", signifie que la création d'objets est supporté par le language. Un objet étant une variable que l'on peux créer, qui soit plus complexe qu'un simple nombre, caractère, booléen, ou tableau (par exemple un objet profil, avec un identifiant, un surnom, une liste de relations, des fonctionnalités associées).</p>

<hr>

    <p>J'ai premièrement découvert ce language durant mon année de troisième, avant d’acquérir un très bon niveau à l'IUT, dans ce language, mais aussi dans la programmation orienté objet en général.</p>
    <p>J'ai utilisé ce language pour beaucoup de projets en groupe dans le cadre de mon diplôme, mais aussi dans quelques projets personnels, plutôt insignifiant sans mentir.</p>
      