
<div class="section-terminal"><h3>~/$ cat Java.md</h3></div>

<h1>Java ?</h1>

    <p>Java est un langage de programmation orienté objet, ce qui veut globalement dire qu'il est possible de réaliser des applications qui peuvent être exécutées par un ordinateur en utilisant ce langage.</p>
    <p>Le terme "orienté objet", signifie que la création d'objets est supportée par le langage. Un objet étant une variable que l'on peut créer, qui soit plus complexe qu'un simple nombre, caractère, booléen, ou tableau (par exemple un objet profil, avec un identifiant, un surnom, une liste de relations, des fonctionnalités associées).</p>

<hr>

    <p>J'ai premièrement découvert ce langage durant mon année de troisième, avant d'acquérir un très bon niveau à l'IUT, dans ce langage, mais aussi dans la programmation orientée objet en général.</p>
    <p>J'ai utilisé ce langage pour beaucoup de projets en groupe dans le cadre de mon diplôme, mais aussi dans quelques projets personnels, plutôt insignifiants sans mentir.</p>
      