
<div class="section-terminal"><h3>~/$ cat Portfolio_apprentisage.md</h3></div>

<section>
  <h1>Disclaimer :</h1>
  <p>Premièrement je voudrais préciser que cette page n'est pas mon idée mais quelque chose d'imposé par ma formation. En restant poli, je ne trouve pas de plus value à mettre bien en lumière des compétences hyper spécifiques, provenant exclusivement de ma formation, dans des détails de mes projets, ce qui va aussi un peu à l'encontre du <a class="pf-link" href="https://en.wikipedia.org/wiki/Show,_don%27t_tell" target="_blank">show don't tell</a> de mon âme d'écrivain. De plus, Cela résulte en une grosse masse de texte dont il est pratiquement impossible de rendre la lecture agréable.</p>

  <p> Ceci étant dit :</p>
</section>

<hr>

<section>
  <h2>Compétence n°1 :</h2>
  <h3>niveau 1 :</h3>
  <h4><strong>AC1: Implémenter des conceptions simples</strong></h4>
  <ul>
    <li>niveau : <strong>Maîtrisé</strong></li>
    <li>Exemple : <a class="pf-link" routerLink="/Portfolio/Projects/SaeTrains">La Sae Trains</a>, où j'ai implémenté des mécaniques basiques du jeu</li>
  </ul>
  <h4><strong>AC2: Élaborer des conceptions simples</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Mon site personnel, dont viennent de moi chaque style et choix de design atypiques</li>
  </ul>
  <h4><strong>AC3: Faire des essais et évaluer leurs résultats en regard des spécifications</strong></h4>
  <ul>
    <li>niveau : <strong>Maitrisé</strong></li>
    <li>Exemple : Un grand nombre de tests ont été réalisés avec Junit lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeTrains">la Sae Trains</a></li>
  </ul>
  <h4><strong>AC4: Développer des interfaces utilisateurs</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : J'ai développé des interfaces utilisateurs adaptés au produit, à la cible, et au format, lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage sur Aqualit en 2025</a></li>
  </ul>
  <h3>niveau 2 :</h3>
  <h4><strong>AC1: Élaborer et implémenter les spécifications fonctionnelles et non-fonctionnelles à partir des exigences</strong></h4>
  <ul>
    <li>niveau : <strong>Maitrisé</strong></li>
    <li>Exemple : Nous avons parfaitement interprété et implémenté les exigences de notre client lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a></li>
  </ul>
  <h4><strong>AC2: Appliquer des principes d'accessibilité et d'ergonomie</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : J'ai implémenté plusieurs améliorations ergonomiques lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage sur Aqualit en 2025</a></li>
  </ul>
  <h4><strong>AC3: Adopter de bonnes pratiques de conception et de programmation</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'Acquisition</strong></li>
    <li>Exemple : J'ai respecté autant de bonnes pratiques que possible, mais beaucoup d'entres elles ne me viennent toujours pas aussi naturellement que je le souhaiterai. Ex : <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">SAE du troisième semestre</a></li>
  </ul>
  <h4><strong>AC4: Vérifier et valider la qualité de l'application par les tests</strong></h4>
  <ul>
    <li>niveau : <strong>Maitrisé</strong></li>
    <li>Exemple : Nous avons implémenté un grand nombre de tests variés lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeTrains">la SAE Trains</a>, en raison de la complexité technique de plusieurs composants</li>
  </ul>
</section>

<hr>

<section>
  <h2>Compétence n°2 :</h2>
  <h3>niveau 1 :</h3>
  <h4><strong>AC1: Analyser un problème avec méthode (découpage en éléments algorithmiques simples, structure de données…)</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Nous avons abordé des problèmes techniques par l'exploration de structures de données et par l'implementations d'algorithme (Dijktra) lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeTrains">la SAE Trains</a></li>
  </ul>
  <h4><strong>AC2: Comparer des algorithmes pour des problèmes classiques (tris simples,recherche…)</strong></h4>
  <ul>
    <li>niveau : <strong>Maitrisé</strong></li>
    <li>Exemple : j'ai fait de la comparaison d'algorithme lors de projets que je ne présente pas ici, mais j'ai par exemple économisé beaucoup de ressources et amélioré l'experience utilisateur au travers de choix judicieux d'optimisation lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage sur Aqualit en 2025</a></li>
  </ul>
  <h4><strong>AC3: Formaliser et mettre en œuvre des outils mathématiques pour l'informatique</strong></h4>
  <ul>
    <li>niveau : <strong>Maitrisé</strong></li>
    <li>Exemple : Nous avons appliquer toute la théorie des graphes lors de la réalisation de <a class="pf-link" routerLink="/Portfolio/Projects/SaeTrains">la SAE Trains</a></li>
  </ul>
  <h3>niveau 2 :</h3>
  <h4><strong>AC1: Choisir des structures de données complexes adaptées au problème</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Bien que j'ai une bonne maîtrise et connaissances de ce sujet, je ne les ai pas réellement utilisés dans les projets que je présente dans mon portfolio</li>
  </ul>
  <h4><strong>AC2: Utiliser des techniques algorithmiques adaptées pour des problèmes complexes (par ex. recherche opérationnelle, méthodes arborescentes,optimisation globale, intelligence artificielle…)</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : J'ai des notions dans beaucoup de ces concepts, mais je ne les ai jamais réellement utilisées</li>
  </ul>
  <h4><strong>AC3: Comprendre les enjeux et moyens de sécurisation des données et du code</strong></h4>
  <ul>
    <li>niveau : <strong>Maîtrisé</strong></li>
    <li>Exemple : Nous avons protégé notre application de tout type d'attaque connus, lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a></li>
  </ul>
  <h4><strong>AC4: Évaluer l'impact environnemental et sociétal des solutions proposées</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je pense être en capacité de le faire, mais c'est quelque chose que je n'ai jamais réellement fait.</li>
  </ul>
</section>

<hr>

<section>
  <h2>Compétence 3 :</h2>
  <h3>niveau 1 :</h3>
  <h4><strong>AC1: Identifier les différents composants (matériels et logiciels) d'un système numérique</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage de 2025</a>, j'ai travaillé dans un environnement technologiquement riche et complexe, et appris à les utiliser ensembles.</li>
  </ul>
  <h4><strong>AC2: Utiliser les fonctionnalités de base d'un système multitâches/multiutilisateurs</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : je n'ai pas d'exemple à fournir venant de mon portfolio, mais cette compétence est validé</li>
  </ul>
  <h4><strong>AC3: Installer et configurer un système d'exploitation et des outils de développement</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : J'ai démontré une très bonne maîtrise des OS et différents outils informatiques dans la construction de <a class="pf-link" routerLink="/Portfolio/Projects/EnvironnementVirtuel">mon environnement virtuel</a></li>
  </ul>
  <h4><strong>AC4: Configurer un poste de travail dans un réseau d'entreprise</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je n'ai pas Acquis cette compétence car je n'ai pas eu l'occasion de configurer un poste de travail dans un réseau d'entreprise</li>
  </ul>
  <h3>niveau 2 :</h3>
  <h4><strong>AC1: Concevoir et développer des applications communicantes</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">La SAE du troisième semestre</a>, qui est une application communicante php + mySql avec authentification LDAP</li>
  </ul>
  <h4><strong>AC2: Utiliser des serveurs et des services réseaux virtualisés</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Bien qu'elle ne soit pas reflété dans les projets de ce portfolio, j'ai une très bonne maîtrise d'outils comme Docker, que je prévois de mettre en avant de des projets à venir</li>
  </ul>
  <h4><strong>AC3: Sécuriser les services et données d'un système</strong></h4>
  <ul>
    <li>niveau : <strong>Maîtrisé</strong></li>
    <li>Exemple : Nous avons mis en place diverses mesures de sécurisation de systèmes lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a></li>
  </ul>
</section>

<hr>

<section>
  <h2>Compétence 4 :</h2>
  <h3>niveau 1 :</h3>
  <h4><strong>AC1: Mettre à jour et interroger une base de données relationnelle (en requêtes directes ou à travers une application)</strong></h4>
  <ul>
    <li>niveau : Acquis</li>
    <li>Exemple : J'ai acquis cette compétence lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a>, où nous avons réalisé une application php communiquant avec une base de donées MySql</li>
  </ul>
  <h4><strong>AC2: Visualiser des données</strong></h4>
  <ul>
    <li>niveau : Acquis</li>
    <li>Exemple : Je n'ai pas d'exemple de cette compétence dans un des projets sur ce portofolio.</li>
  </ul>
  <h4><strong>AC3: Concevoir une base de données relationnelle à partir d'un cahier des charges</strong></h4>
  <ul>
    <li>niveau : Acquis</li>
    <li>Exemple : J'ai fortement participé à la réalisation de la base de données de la SAE du quatrième semestre actuellement en cours</li>
  </ul>
  <h3>niveau 2 :</h3>
  <h4><strong>AC1: Optimiser les modèles de données de l'entreprise</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a>, nous avons utilisé des méthodes d'indexation et des requêtes récursives</li>
  </ul>
  <h4><strong>AC2: Assurer la confidentialité des données (intégrité et sécurité)</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a>, nous avons protégé notre base de donné de plusieurs moyens, comme le hachage des mot de passe et la protection contre les injections sql</li>
  </ul>
  <h4><strong>AC3: Organiser la restitution de données à travers la programmation et la visualisation</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je n'ai pas validé cette compétence</li>
  </ul>
  <h4><strong>AC4: Manipuler des données hétérogènes</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je n'ai pas validé cette compétence</li>
  </ul>
</section>

<hr>

<section>
  <h2>Compétence 5 :</h2>
  <h3>niveau 1 :</h3>
  <h4><strong>AC1: Appréhender les besoins du client et de l'utilisateur</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : J'ai fait preuve d'une très bonne compréhension et anticipation des demandes des utilisateurs ainsi que du Product Manager lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage sur Aqualit en 2025</a></li>
  </ul>
  <h4><strong>AC2: Mettre en place les outils de gestion de projet</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Des outils facilitant la gestion de projet tels que GitLab et Trello ont été utilisé et ont visiblement amélioré nos conditions de travaille sur <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a></li>
  </ul>
  <h4><strong>AC3: Identifier les acteurs et les différentes phases d'un cycle de développement</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Les principes du framework agile SCRUM ont été respecté durant <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a>, avec une répartition claire des rôles (Product Owner et Scrum Mater), et le modèle de sprints a été suivi.</li>
  </ul>
  <h3>niveau 2 :</h3>
  <h4><strong>AC1: Identifier les processus présents dans une organisation en vue d'améliorer les systèmes d'information</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je ne l'ai vu dans aucun projet, seulement lors de TDs</li>
  </ul>
  <h4><strong>AC2: Formaliser les besoins du client et de l'utilisateur</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Nous avons accordé beaucoup de soin à la retranscription exacte au possible des demandes du client, et formalisé des fonctionnalités souhaitables par les futurs utilisateurs lors de <a class="pf-link" routerLink="/Portfolio/Projects/SaeS3">la SAE du troisième semestre</a></li>
  </ul>
  <h4><strong>AC3: Identifier les critères de faisabilité d'un projet informatique</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage</a>, j'ai plusieurs fois eu à échanger avec le Product Manager en raison d'infaisabilités techniques, de manière à garder une cadence fluide tout le long du projet.</li>
  </ul>
  <h4><strong>AC4: Définir et mettre en œuvre une démarche de suivi de projet</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je ne pense pas avoir acquis cette compétence par manque d'experience</li>
  </ul>
</section>


<section>
  <h2>Compétence 6 :</h2>
  <h3>niveau 1 :</h3>
  <h4><strong>AC1: Appréhender l'écosystème numérique</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Tout <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage de 2025</a>, où j'ai appris sur le tas toutes les technologies utilisées</li>
  </ul>
  <h4><strong>AC2: Découvrir les aptitudes requises selon les différents secteurs informatiques</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/NDI2024">la nuit de L'info 2024</a>, qui a nécessité des compétences au delà de la programmation, notamment en graphisme, mais aussi un esprit créatif</li>
  </ul>
  <h4><strong>AC3: Identifier les statuts, les fonctions et les rôles de chaque membre d'une équipe pluridisciplinaire</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/NDI2024">la nuit de l'info 2024</a>, nous avons travaillé dans une équipe hautement pluridisciplinaire, avec des spécialistes dans des technologies en particulier, en graphisme, en montage vidéo ... et chacun a participé au projet de manière unique</li>
  </ul>
  <h4><strong>AC4: Acquérir les compétences interpersonnelles pour travailler en équipe</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage</a>, j'ai fait preuve de très bonnes compétences interpersonnelles, et cela a grandement facilité la réalisation du projet</li>
  </ul>
  <h3>Niveau 2 :</h3>
  <h4><strong>AC1: Comprendre la diversité, la structure et la dimension de l'informatique dans une organisation (ESN, DSI, …)</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je ne l'ai vu dans aucun de mes projet, et je pense que cela demande de l'experience pluridisciplinaire que je n'ai pas encore acquise</li>
  </ul>
  <h4><strong>AC2: Appliquer une démarche pour intégrer une équipe informatique au sein d'une organisation</strong></h4>
  <ul>
    <li>niveau : <strong>En cours d'acquisition</strong></li>
    <li>Exemple : Je n'ai jamais été placé à la tête d'un projet informatique, donc cette compétence n'est selon moi pas validé</li>
  </ul>
  <h4><strong>AC3: Mobiliser les compétences interpersonnelles pour intégrer une équipe informatique</strong></h4>
  <ul>
    <li>niveau : <strong>Acquis</strong></li>
    <li>Exemple : Mes compétences interpersonnelles m'ont permises de facilement m'intégrer à l'entreprise qui m'a accueillie lors de <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage</a></li>
  </ul>
  <h4><strong>AC4: Rendre compte de son activité professionnelle</strong></h4>
  <ul>
    <li>niveau : <strong>Maîtrisé</strong></li>
    <li>Exemple : J'ai réalisé un rapport de stage complet sur <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">mon stage de 2025</a>, consultable sur la page dédié dans ce portfolio</li>
  </ul>
</section>
