
<div class="section-terminal"><h3>~/$ cat Spaceship_crew.md</h3></div>

<h1> VAISSEAU SPATIAL !</h1>

    <p>
        Ce projet suit un peu la même logique que celui de la <a class="pf-link" routerLink="/Portfolio/Projects/SheikahSlateWeb">Sheikah Slate Web</a>,
        c'est à dire : 
    </p>

    <ul>
        <li> J'ai envie d'apprendre une technologie</li>
        <li> J'ai une idée de projet que j'aimerais réaliser</li>
        <li> ... Boom ?</li>
    </ul>


<hr>

    <p> 
        L'idée est assez simple : Un vaisseau spatial est constitué de différentes pièces reliées les unes aux autres,
        que des membres d'équipage de différents métiers traversent pour faire ce qu'ils sont censés faire.
    </p>
    <p>
        Il commence cependant à il y avoir une difficulté lorsque les principes d'orienté objets qui me permettraient
        par exemple de créer des objets Pièces et Membre d'équipage faciles à étendre ne sont pas présent dans le langage.
    </p>
    <p>
        Eh ouais, le C n'est pas orienté objet, bien que sa syntaxe soit plutôt similaire à Java. Une autre difficulté 
        survient aussi lorsque l'on sait que je n'ai en fait jamais vraiment codé quoi que ce soit en C, ou dans un langage
        aussi bas niveau necessitant des allocations mémoires manuelles, et ne possédant presque aucune des structures de
        données dynamique auxquelles je suis habitué.
    </p>

<hr>

    <p>
        Le projet n'est pas du tout fini et n'a donc pas beaucoup de fonctionnalitées pour l'instant, 
        mais j'y dédie tout de même une page car je viens de postuler à une offre de stage et je voudrais le mettre
        en avant ^^.
    </p>

    <p>
        Il possède actuellement les commandes suivantes (légèrement inspiré du <a class="pf-link" href="https://fr.wikipedia.org/wiki/Shell_Unix" target="_blank">Shell UNIX</a> pour la syntaxe) :
    </p>

    <ul>
        <li><b>crew ls</b> : Liste les membres d'équipage (avec leur nom et leur rôle)</li>
        <li><b>crew add</b> : Ajoute un membre d'équipage</li>
        <li><b>crew edit</b> : Met a jout les informations d'un membre d'équipage</li>
        <li><b>crew rm</b> : Supprime un membre d'équipage</li>
    </ul>
    <ul>
        <li><b>room ls</b> : Liste les pièces constituant le vaisseau (avec leur nom, leur type, et leurs pièces adjacentes)</li>
        <li><b>room add</b> : Ajoute une pièce du vaisseau</li>
        <li><b>room edit</b> : Met a jout les informations d'une pièce du vaisseau</li>
        <li><b>room rm</b> : Supprime une pièce du vaisseau</li>
        <li><b>room link</b> : Rends adjacentes deux pièces du vaisseau</li>
        <li><b>room unlink</b> : Rends non-adjacentes deux pièces du vaisseau</li>
    </ul>

    <h3>Quelques exemples</h3>
    <img class="pf-image" ngSrc="assets/images/crew-ls.webp" width="856" height="493" alt="Crew Ls Command" priority>
    <img class="pf-image" ngSrc="assets/images/room-ls.webp" width="932" height="493" alt="Room Ls Command" priority>
    <img class="pf-image" ngSrc="assets/images/room-add.webp" width="753" height="399" alt="Room Add Command" priority>

<hr>

    <p>
        Dans le futur proche, j'ajouterai un peu de vie aux membres d'équipage afin qu'ils fassent réellement des choses,
        qu'on puisse les voir passer d'une pièce à l'autre avec un but précis, et même des évènement spéciaux
        déclenchable par l'utilisateur comme par exemples des attaques sur le vaisseau ou des phénomènes cosmiques.
    </p>

    <p> 
        Si vous avez lu jusqu'ici et souhaitez voir comment tout ça fonctionne : 
        <a class="pf-link" href="https://github.com/GreenJacketBoy/Spaceship_Crew_Simulator" target="_blank">https://github.com/GreenJacketBoy/Spaceship_Crew_Simulator</a>
    </p>