
<div class="section-terminal"><h3>~/$ cat SAE.md</h3></div>

<h1>Maaaais c'est quoi une SAE ?</h1>

    <p>SAE est l'acronyme de Situation d'Apprentissage et d'Évaluation (le E est donc généralement prononcé É).</p>
    <p>Ce sont des projets en groupe à rendre ou à présenter, incluant généralement de la programmation. Elles permettent de mettre en pratique tout ce que l'on apprends dans notre formation, et comptent donc pour beaucoup dans nos notes, étant donnée la nature du BUT qui se veut professionalisante.</p>
    
<hr>

    <p>( Si cette acronyme vous dit quelque chose, vous l'avez peut-être entendu dans le cadre d'une autre fillière du BUT : <a class="pf-link" href="https://fr.wikipedia.org/wiki/Situation_d%27apprentissage_et_d%27%C3%A9valuation">plus d'info</a> )</p>  