
<div class="section-terminal"><h3>~/$ cat Angular.md</h3></div>

<h1> Angular, what I never knew I wanted </h1>

  <p> Angular est un framework de front end (c'est-à-dire d'interface utilisateur), facilitant principalement la création d'applications web dynamiques. Il offre des outils et une structure de développement constante, ce qui en fait un bon choix pour beaucoup d'entreprises. </p>
  <p> Une application web réalisée avec Angular tourne entièrement sur la machine cliente, le serveur ne s'occupe que d'envoyer les fichiers <a class="pf-link" routerLink="/Portfolio/Skills/Java"> HTML, CSS, Scripts</a>, et autres médias demandés par le client. </p>
  <p> Cela permet de créer une application web relativement complexe, tout en minimisant la charge que doit supporter notre serveur. Par exemple, le site web sur lequel vous êtes actuellement a été réalisé avec ce Framework, et il est hébergé sur GitHub Pages, qui ne supporte pas de script côté serveur. </p>
  <p> Je l'ai découvert et principalement utilisé durant mon <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025"> stage de deuxième année</a>, mais aussi, comme dit précédemment, pour mon site personnel. </p>