
<div class="section-terminal"><h3>~/$ cat Sheikah_Slate_Web.md</h3></div>

<h1> La Shei-quoi ? </h1>

  <p> Ce projet a pour but principal de me faire développer une application avec ReactJS. Son but secondaire est de recréer la <a class="pf-link" href="https://www.qwant.com/?q=sheikah+slate+ui&t=images" target="_blank"> Tablette Sheikah</a> du jeu Zelda : BOTW, ainsi que certaines de ses fonctionnalités, comme : </p>      

  <ul>

    <li> <p> Une carte interactive dans le même style graphique, avec la possibilité d'ajouter différents points d'intérêt (voire capture d'écran en jeu).</p></li>
    <img class="pf-image" ngSrc="assets/images/sheikah_slate_map.webp" width="1280" height="720" alt="Sheikah Slate Map in the game" priority>
    
    <li> <p> Un gestionnaire de fichiers (uniquement des images dans le jeu), avec la possibilité d'y associer une description de ce qu'elle représente.</p></li>
    <img class="pf-image" ngSrc="assets/images/sheikah_slate_images_and_videos.webp" width="768" height="461" alt="Sheikah Slate Map in the game" priority>

  </ul>

<hr>

  <p> Cette application est donc réalisée avec le framework React et la librairie MapLibre GL, que j'ai utilisée durant mon <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">stage de 2025</a>, et qui gère l'affichage de la carte et ses interactions. Le projet est actuellement en développement, donc cette page est sujette à de futures modifications.</p>

  <p> Pour plus d'informations : <a class="pf-link" href="https://github.com/GreenJacketBoy/Sheikah-Slate-Web" target="_blank"> https://github.com/GreenJacketBoy/Sheikah-Slate-Web</a></p>