
<div class="section-terminal"><h3>~/$ cat Sheikah_Slate_Web.md</h3></div>

<h1> La Shei-quoi ? </h1>

  <p> Ce projet a pour but principal de me faire développer une application avec ReactJS. Son but secondaire est de recréer la <a class="pf-link" href="https://www.qwant.com/?q=sheikah+slate+ui&t=images" target="_blank"> Tablette Sheikah</a> du jeu Zelda : BOTW, ainsi que certaines de ses fonctionnalités, comme : </p>      

  <ul>

    <li> <p> Une carte interactive dans le même style graphique, avec la possibilité d'ajouter différents points d'intérêt (voire capture d'écran en jeu).</p></li>
    <img class="pf-image" ngSrc="assets/images/sheikah_slate_map.webp" width="1280" height="720" alt="Sheikah Slate Map in the game" priority>
    
    <li> <p> Un gestionnaire de fichiers (uniquement des images dans le jeu), avec la possibilité d'y associer une description de ce qu'elle représente.</p></li>
    <img class="pf-image" ngSrc="assets/images/sheikah_slate_images_and_videos.webp" width="768" height="461" alt="Sheikah Slate Map in the game" priority>

  </ul>

<hr>

  <p> Cette application est donc réalisée avec React JS, auquel je n'avais jamais touché avant, et la librairie MapLibre GL que j'ai utilisée durant mon <a class="pf-link" routerLink="/Portfolio/Projects/Stage2025">stage de 2025</a>, et qui gère l'affichage de la carte et ses interactions. J'aurais techniquement pu utiliser Angular, mais j'avais envie d'apprendre React afin de voir s'il y avait une réelle raison à sa popularité.</p>

  <p> Le projet est actuellement en développement, donc cette page est sujette à de futures modifications. Cependant, le projet est déjà très bien avancé avec : </p>

  <ul>
    <li> une application ergonomique au possible (fidèle au jeu)</li>
    <li> une application stylisée (carte, style et décoration, tout fait à la main sans IA)</li>
    <li> l'ajout, la modification et la suppression de markers</li>
    <li> des markers de couleur unique (un par couleur maximum)</li>
    <li> des markers à symboles illimités</li>
  </ul>

  <img class="pf-image" ngSrc="assets/images/sheikah_web_image.webp" width="1200" height="618" alt="What the Website looks like" priority>

  <p> Repo Github : <a class="pf-link" href="https://github.com/GreenJacketBoy/Sheikah-Slate-Web" target="_blank"> github.com/GreenJacketBoy/Sheikah-Slate-Web</a></p>

  <p> Le site est consultable sur le lien suivant : <a class="pf-link" href="https://greenjacketboy.github.io/Sheikah-Slate-Web/" target="_blank"> greenjacketboy.github.io/Sheikah-Slate-Web/</a>, et les explications d'utilisations se trouvent dans le fichier README.md du dépot GitHub ci-dessus.</p>