
<h1> Heyyyyy, this is the articles page ! </h1>

<p> Quite self explanatory, it's a place for me to write articles about what I think and do. I won't treat it as a social media and post anything that I haven't thought through for some time, but you do have to keep in mind that I'm not a philosopher or an essayist. </p>

<h1> Published articles : </h1>

  <div class="article">
    <a routerLink="Arch_Linux_MMA" > <h3> Mixed Martial Arts and Arch Linux : The best comes from adaptability </h3> </a>
    <p> Published 3 april 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Types_of_Theories" > <h3> Types of theories</h3> </a>
    <p> Published 18 april 2025 </p>
  </div>