
<h1> Heyyyyy, this is the articles page ! </h1>

<p> Quite self explanatory, it's a place for me to write articles about what I think and do. I won't treat it as a social media and post anything that I haven't thought through for some time, but you do have to keep in mind that I'm not a philosopher or an essayist. </p>

<h1> Published articles : </h1>

  <div class="article">
    <a routerLink="Arch_Linux_MMA" > <h3> Mixed Martial Arts and Arch Linux : The best comes from adaptability </h3> </a>
    <p> Published 3 april 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Types_of_Theories" > <h3> Types of theories</h3> </a>
    <p> Published 18 april 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Fiction_And_Romanticizing_Societies" > <h3> Fiction and the self-romanticizing of human societies</h3> </a>
    <p> Published 1 may 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Limitations_In_Fiction" > <h3> Battlestar Galactica and why I like technological limitations in fiction</h3> </a>
    <p> Published 17 may 2025 </p>
  </div>

  <div class="article">
    <a routerLink="School_And_Creativity" > <h3> My experience with the school system's failure regarding creativity</h3> </a>
    <p> Published 29 may 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Dope_As_Fuck" > <h3> Not unless what they're showing off is dope as fuck</h3> </a>
    <p> Published 10 october 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Been_Learning_C" > <h3> So I've been learning C</h3> </a>
    <p> Published 3 november 2025 </p>
  </div>

  <div class="article">
    <a routerLink="Exponential_Growth_In_Video_Games" > <h3> Exponential Growth in Minecraft vs Satisfactory</h3> </a>
    <p> Published 3 february 2026 </p>
  </div>

