
<div class="section-terminal"><h3>~/$ cat SAE_Trains.md</h3></div>

<h1>La <a class="pf-link" routerLink="/Portfolio/Infos/Sae">SAE</a> Trains ?</h1>

    <p>Lors du deuxième semestre de ma première année (2023-2024), nous nous étions vu assigné un projet de programmation en binôme, avec comme objectif de refaire le jeu de plateau Trains en <a class="pf-link" routerLink="/Portfolio/Skills/Java">Java</a>.</p>
    <p>Pour démarrer, une base de code contenant principalement des fonctions à remplir, et une batterie de tests unitaires nous avait été fourni, mais c'était clairement le projet le plus ambitieux que nous avons eu à réaliser cette année.</p>

<hr>

    <p>Un des défis principaux était d'appliquer des algorithmes tels que <strong>l'algorithme de Dijkstra</strong>, appris durant nos cours de maths sur la théorie des Graphes.</p>
    <p>Dans un graphe, <strong>l'algorithme de Dijkstra</strong> donne très rapidement le chemin le moins coûteux d'un point à un autre. Par exemple (voir image ci-dessous), le chemin le moins coûteux entre le point <strong>A</strong> et le point <strong>D</strong> est : <strong>[A > B > F > C > D]</strong></p>

    <img class="pf-image" ngSrc="assets/images/graphe.webp" width="1058" height="499" alt="Graph with costs" priority>

<hr>

    <p>Durant ce projet, nous avons appris à :</p>

<ul class="liste-a-puce">
    
    <li><p>Collaborer de manière efficace, sans quoi le projet aurait été très compliqué</p></li>
    <li><p>Incorporer des principes mathématiques à but d'optimisation</p></li>
    <li><p>Travailler dans un projet complexe</p></li>
    <li><p>Lire de la documentation et comprendre ce que l'on attends de nous</p></li>
    
</ul>