
<h1> Types of theories</h1>

  <p> Having a scientific mind, I tend to see the world through scientific lenses. In other words, the way I see the world is through different types of theories :</p>

  <ul>
    <li> Proven and demonstrated (i.e. : Newton's law of Universal Gravitation)</li>
    <li> Matches our observations so far (i.e. : Darwin's theory of Evolution)</li>
    <li> Theories that are just theories (i.e. : Theory of Multiverses)</li>
  </ul>

  <p> (Don't bother looking for this model, I just made it up)</p>

  <p> I believe these 3 types of theories all have a place in science. It's not uncommon for a theory to go from type 3, to type 2, and finally to type 1. However during my time on this earth, I've observed many type 3 theories, being treated the same way a type 1 or 2 would. </p>

  <p> You've probably experienced it too : Origins of the world according to religious beliefs are often treated as type 1 theory, and Astrology and its variations are treated as type 2 and sometimes even type 1 theories. </p>

  <p> According credit to "Theories that are just theories", can, and often will, lead to bad consequences. The best example of it would probably be <a href="https://en.wikipedia.org/wiki/Bloodletting">bloodletting</a> (the process of intentionally leaking blood, in order to remove diseases), which was the standard medical procedure for most of human history before the 19th century, despite only being based on beliefs and guesses, and only worsened patients conditions.</p>

  <p> Although a lot of times, differentiating types of theory without an historical perspective does seem like a pretty impossible problem. As an exemple, <a href="https://en.wikipedia.org/wiki/Miasma_theory">miasma theory</a>  (the theory that diseases like cholera were transmitted through a noxious form of "bad air", emanating from rotting organic matter) was passing all the scientific tests for a solid scientific theory : wide acceptance from the scientific community, based on observation, replications of results, power of prediction, and a large amount of evidence pointing to the correctness of this theory.</p>

  <p> But miasma theory was wrong. As it turns out, diseases are transmitted by bacteria and micro organisms, not "bad air". Ignaz Semmelweis, was among one of the first to find <a href="https://en.wikipedia.org/wiki/Germ_theory_of_disease#Ignaz_Semmelweis,_Austria">solid evidence</a>, going against miasma theory, and in favor of what would later be named the germ theory. Despite his undeniable evidences, his theory was mostly rejected, and I suspect the wide acceptance of miasma theory to be the reason for that.</p>

  <p> But I would argue that this wasn't an impossible problem. While miasma theory was far from being a type 3 theory, It was definitely closer to a type 2 than to a type 1 theory. The evidence was nothing more than matches with observations, and no difference between "good" and "bad air" was clearly observed to prove it. Despite classifying as a type 2 theory, it was given the credibility of a type 1 (proven) theory.</p>


<h2> Conclusion :</h2>

  <p> In order to keep openness to potentially better theories, while maintaining the stable status of existing theories, I believe theories should be given their credit and openness to changes, depending on their type : </p>

  <ul>
    <li> Proven and demonstrated (type 1) theories should be used as foundations and regarded as scientific facts, and everyone should be highly critical of any proposition of changes to them.</li>
    <li> (type 2) Theories that match our observations should not be regarded as truths, preferring an acknowledgment that this is the best we have at the moment, and critics/propositions of changes should be welcomed as long as they are justified, and follow the scientific method.</li>
    <li> (type 3) Theories that are just theories should not be given any credit by anyone, but this should be allowed to change, given that new evidence is provided.</li>
  </ul>

  <p> Of course, this won't have a lot of value if the theory's type is not correctly assessed, and the importance of this assessment should be the main take away from this article.</p>