<h1> Fiction and the self-romanticizing of human societies</h1>

<h2> Romanticizing of societies :</h2>

  <p> I've noticed something that I'd like to explore a bit, even though it makes total sense.</p>

  <p> The subject is the (sometimes) unjustified romanticizing of a human societies, by its members. By society, I simply mean a group of human beings living together and sharing a similar culture, could be 3 persons in a cave, or hundred of billions across the stars. Romanticizing, being the act of talking about something in a way that makes it sounds better than it actually is (, or believing that it is).</p>

  <p> For good examples of what I mean, you won't find better than any fascist regime, as it is one of the core elements of fascism.</p>

  <p> From an evolutionary stand point, this romanticizing makes sense. If we assume that this trait has been inherited from our ancestors, it would be surprising to not have any semblance of it. We are beings who see themselves as having value, and being worth preserving, because our ancestors saw themselves the same way, and the ones who didn't think they were worth preserving either died or didn't reproduce.</p>

  <p> I believe this romanticizing tendency is necessary, as without it, we are at risk of losing the belief that we have value and are worth preserving.</p>

  <p> When gathering a group of humans in a society, it makes sense that this habit of romanticizing one's self, would transpire onto the society, romanticizing its values, actions, and history.</p>

  <p> As societies are romanticized, their belief of having value and being worth preserving increases, but it comes with the cost of a decrease in their willingness to change. In other words : the closer to perfection they perceive themselves to be, the less they will want to stray from this perfection.</p>


<h2> Fiction :</h2>

  <p> Our natural romanticizing tendencies often make it impossible for us to see the flaws in the societies we are members of. But we never lack the ability to see what's wrong in the societies we perceive as different.</p>

  <p> I find fiction centered around living in a different society, to play very well with our superior ability to judge societies that are different, and compare them to our own. It makes us wonder about the difference between these worlds and ours.</p>

  <p> As an example, we seem to have an easier time relating to a dystopia like Blade Runner that has inequality, discrimination, overpowered corporations, pollution, and global health issues, than to an utopia like Star Trek.</p>

  <p> That's a little ... worrying, don't you think ?</p>