
<h1> My experience with the school system's failure regarding creativity</h1>

  <p> I'm not making any big claim when saying that the school system is deeply flawed, we all know that. What I want to do here, is talk about my experience regarding the miss handling of the human characteristic that is creativity, by the school system's I grew in.</p>

  <p> I'm a very creative person. For me, I find it to translate into having lots of ideas, finding new approaches to problems, and having a tendency toward various arts, as a mean of expressing this creativity.</p>

<h2> Why I believe creativity matters</h2>

  <p> First I'd like to explain why I think that the miss handling of creativity by the school system, is a problem in the first place. It' important to start with that, as I am, for example, not writing about how school fails to teach us how to cut down a tree, because our ability to do that is not really important in the modern world.</p>

  <p> So why does creativity matter ? A while ago I visited what would be my future high school with my mom. I got drawn in a classroom full of little machines, one of them that I could not understand. The teacher here explained it was used in architecture to measure the aerodynamics of say the model of a house. Naturally, I asked if this could be adapted to emulate a martian dust storm, in order to find the most optimal shape for the base of a human colony.</p>

  <p> To my mom's surprise, he responded very positively with no hesitation. She told the teacher that, usually, when I talk about martian colonies, people don't really take me seriously, and she expected them to tell me that the machine was not made for that, and martian colonies are not a thing they worry about here. To which he replied : </p>

  <blockquote>
    <p> "Well that's a creative way of thinking, and that's what makes engineers."</p>
  </blockquote>

  <p> While you could argue that creativity is not the backbone of engineering, you can't deny that it is a very important aspect of it. Moreover, a lot of companies founded in the age of the Internet, originate from someone who had a good idea. I could also give you a list of pretty much every artistic jobs, from novelists to game developers.</p>

<h2> Creativity's lack of presence in Schools</h2>

  <p> Despite the overwhelming uses of creativity in the real world, the only class where creativity was encouraged, was Arts, which I only had for 2 hours per week, and it it wasn't even there in high school.</p>

  <p> In French class (reminder that I'm French, so this would be English class in the U.S.), we were tasked with analyzing the meanings of stories, to find its local and global themes. We were not trying to understand why a story was good (and if you ask me, I would have had a hard time doing that considering the kind of texts we were given), and neither were we attempting to create stories of our own. </p>

  <p> Contrary to most of my classmate, I really enjoyed the entire process of (group) stand up presentations, because it was the only assignments where I had almost full creative freedom on what I was producing. This was greatly helped by everyone in group projects, generally being okay that I did all the work.</p>

  <p> I found group presentations and arts assignments to be the only ones evaluating me on my creativity to some degree.</p>

  <p> Now that I study Computer Science, I notice I get to use my creative skills way more than I used to before. A lot of times, I'm the most competent when it comes to finding ideas, designing meaningful User Interfaces, or coming up with unique design for video games settings and characters. </p>

  <p> Entering more theoretical ground here, I also think it contributes to the creation of applications that feel better to use and maintain, because creativity allows you to stray from the standard way of doing things, which can be quite useful depending on what you're making.</p>

<h2> Conclusion</h2>

  <p> In conclusion, the school system I grew in failed to encourage creativity and borderline suppresses it, in a world where being creative is a valuable trait. I don't have much hopes for any changes in the near future, so I'm wishing for everyone with a creative mind to find the value they have on their own, hopefully not too late in their lives.</p>