
<h1> Battlestar Galactica and why I like technological limitations in fiction</h1>

  <p> Recently I've started watching <b><a href="https://en.wikipedia.org/wiki/Battlestar_Galactica"> Battlestar Galactica</a></b> (the one from 2003), and aside from how un-intuitive it is to watch it in the correct order when you don't know anything about it, not helped by the fact that everyone seemingly has a different opinion of how you should watch it, when everyone (a.k.a. "me") know that the only true way to watch it is in release order ... </p>

  <p> Yeah aside from that (no spoilers guaranteed), it felt strangely good that the ship was technologically limited. And I don't think it has a lot to do with the fact that there's a good explanation of why it is like that in the story.</p>

  <p> So I believe I found why : </p>

  <p> First, it makes the universe more believable. It's difficult (not impossible, but difficult) to relate to magic and unfamiliar technology. If these elements are common, we risk having a harder time believing in the universe. Of course a story where these elements are common is not inherently bad, I could take the example of Doctor Who, which is probably close to my favorite show ever, even while being largely filled with magic and unfamiliar technology. Still I think it's worth mentioning this point, as an increase in believability can only improve a story (assuming it's not increased to the detriment of something else). </p>

  <p> Second, I feel it adds to the sentiment of legitimacy from the characters and groups we follow. By not giving them advantages (here in the form of advanced technology), it creates more challenges that they have to overcome by other means. In Battlestar Galactica, it's even better, as they really are the underdog, and every win feels deserved, as it usually comes from character's resourcefulness rather than sheer technological advantage. It's also an effective way to push the characters at the fore front of the story, as good stories are character driven before all.</p>

<h2> Conclusion</h2>

  <p> In conclusion, I believe I like it so much because : </p>
  <ul>
    <li> The universe is naturally relatable</li>
    <li> The characters are allowed frequent showcases of : 
      <ul>
        <li> Their individual capabilities</li>
        <li> Their ability to work around limited technology</li>
        <li> All of that as they have way less options for an easy way to resolve their problems</li>
      </ul>
    </li>
  </ul>