
<div class="section-terminal"><h3>~/$ cat About_me.md</h3></div>

<h1 class="red"> IMPORTANT !</h1>

  <p> Je suis actuellement à la recherche d'une Alternance dans le domaine de l'Informatique pour septembre 2025, si vous êtes intéressé, ou que vous connaissez des gens qui pourraient l'être, <a class="pf-link" routerLink="" fragment="Contact"> contactez moi</a>. Vous trouverez mon CV dans un des liens en bas à droite, n'importe où sur ce site. </p>

<hr>

    <p>Si tous mes calculs sont bons, mon nom devrait être affiché sur l'écran de droite (à partir duquel vous pouvez accéder aux différentes parties du site), mais juste au cas où : </p>
    <p>Je m'appelle Yann, et à l'heure où j'écris ce texte, je suis étudiant en deuxième année de BUT Informatique, et particulièrement passionné par le développement Desktop, Web et Mobile.</p>

<hr>

    <p>C'est en 2023 que j'ai emménagé pour ma première année à l'IUT de Montpellier, à la suite d'un Bac STI2D option EE (oui, l'option Electricité Environnement est un peu curieuse pour une poursuite en Informatique, mais mon établissement ne proposait pas l'option SIN ¯\_(ツ)_/¯).</p>
    <p>J'avais décidé de poursuivre sur un BUT Informatique, car bien que j'avais d'autres passions vers lesquels m'orienter, comme les arts ou le <a class="pf-link" href="https://fr.wikipedia.org/wiki/Parkour">parkour</a>, la programmation et l'informatique en général m'offraient un univers de science infinie dans un domaine qui m'attirait naturellement, ce qui en faisait une voie que je me voyais suivre sur le long terme.</p>
    <p>Cependant, je n'étais pas certain que ce soit la bonne formation pour moi, en tout cas jusqu'à ce que je vienne aux portes ouvertes de l'IUT de Montpellier, où l'aspect travail d'équipe et application concrète de ce que l'on apprends m'avais particulièrement attiré, surtout en comparaison avec ce que j'avais retenu de mon expérience aux portes ouvertes d'une License Informatique.</p>

<hr>
    <p> Comme information complémentaire, je peux ajouter que :  </p>
    <ul class="liste-a-puce">
      <li> J'ai un léger talent pour le design quel qu'il soit</li>
      <li> J'aime connaitre les technologies que j'utilise, bien au delà du strict nécessaire</li>
      <li> Je suis très (trop ?) créatif</li>
      <li> Je suis très curieux de tout ce qui m'entoure</li>
    </ul>
    <p> En dehors de ça, je ne vois pas trop quoi ajouter à part que j'ai un grand intérêt pour les art martiaux, j'adore les jeux vidéos centré autour du mouvement ou de la créativité (Minecraft, Titanfall 2, Assassin's creed, Zelda BOTW ...), et lorsque j'ai le temps et l'envie, il m'arrive de dessiner (galerie DeviantArt en bas) et d'avancer sur l'écriture d'un roman de science fiction.</p>

<hr>

    <p>Pour le futur, j'hésite un petit peu à poursuivre mes études pour devenir ingénieur, et possiblement astronaute en bonus plus tard (oui c'est possible avec un diplôme d'ingénieur en Informatique et de l'experience professionnelle), mais les opportunités que m'offrent le diplôme du BUT me semblent assez épanouissantes pour moi, donc je ne suis sûr de rien pour l'instant.</p>

<hr>

    <p>PS : J'ai mis quelques liens en bas à droite, si jamais vous ne les auriez pas remarqués.</p>
    <p>PS2 : La citation change quand on clique dessus, leur provenance exacte (youtube, principalement) sont en commentaire <a class="pf-link" href="https://github.com/GreenJacketBoy/GreenJacketBoy.github.io/blob/204d1a73cfedc18e502840d9c885420274190915/src/services/quote.service.ts#L10">ici</a> dans le code source.</p>