
<div class="section-terminal"><h3>~/$ cat SAE_S3.md</h3></div>

<h1>Le site de poursuite d'études</h1>

  <p>La <a class="pf-link" routerLink="/Portfolio/Info/SAE">SAE</a> du troisième semestre (ou premier semestre de la deuxième année) était le projet de la plus grande envergure jusque là, en équipe de 5, et étant de loin le plus proche d'un réel projet Informatique. Nous avions 4 mois pour réaliser un site web de gestion de poursuite d'études, sans base de code, et sans réelle directive au départ.</p>
  <p>Toute information venait d'un professeur jouant le rôle de notre client, à qui le Product Owner (membre du groupe qui communique avec le client) désigné de notre équipe devait poser toutes les questions qui pouvaient être utiles pour faire avancer le projet dans la direction souhaité par le client.</p>

<hr>

  <p>En premier lieu, nous avons établis les volontés du client, et fait une réunion d'équipe afin de mettre tout le monde à la page, et de commencer à designer la base de donnée du site.</p> 
  <p>Une partie importante du site était la création d'agrégations de note. Une agrégation de note est un ensemble de coefficient appliqué à chaque note, pour donner une moyenne qui aura du poids en fonction de certaines notes plus que d'autres.</p>
  <p>Exemples : Si je met un plus gros coefficient aux notes de contrôles de réseau, j'aurais une agrégation de notes qui m'aidera à déterminer s'il est judicieux ou non qu'il envisage une poursuite d'étude dans ce domaine.</p>

<hr>

  <p>Au début, 3 types d'utilisateurs allaient pouvoir interagir de différente manière avec le site :</p>

<ul class="liste-a-puce">
  <li>les Responsables de poursuite d'étude
    <ul class="sous-liste-a-puce">
      <li>Créer des agrégations</li>
      <li>Remplir les avis de poursuite d'étude</li>
      <li>Consulter les notes agrégées de tous les étudiants</li>
    </ul>
  </li>
  <li>Les Professeurs, qui peuvent :
    <ul>
      <li>Créer des agrégations</li>
      <li>Voir les avis de poursuite d'études de chaque étudiant</li>
      <li>Consulter les notes agrégées de tous les étudiants</li>
    </ul>
  </li>
  <li>Les Écoles externes
    <ul>
      <li>Créer des agrégations</li>
      <li>Consulter les notes agrégées des étudiants qui ont postulé pour elles</li>
    </ul>
  </li>
</ul>

  <p>Ensuite, le client a voulu que les étudiants puissent aussi pouvoir se connecter au site, afin de candidater depuis ce dernier, et d'accéder à leurs notes.</p>

<hr>
  
  <img class="pf-image" ngSrc="assets/images/saes3_1.webp" width="1920" height="903" alt="liste d'étudiant" priority>

<hr>

  <img class="pf-image" ngSrc="assets/images/saes3_2.webp" width="1920" height="903" alt="liste d'agrégations" priority>

<hr>

  <p><strong>Technologies utilisées pour ce projet :</strong></p>

  <ul class="liste-a-puce">
    <li><a class="pf-link" routerLink="/Portfolio/Skills/Web">HTML</a></li>
    <li><a class="pf-link" routerLink="/Portfolio/Skills/Web">CSS</a></li>
    <li><a class="pf-link" routerLink="/Portfolio/Skills/Web">PHP</a></li>
    <li>GIT</li>
    <li><a class="pf-link" routerLink="/Portfolio/Skills/SQL">MySQL</a></li>
    <li>Docker</li>
  </ul>

<hr>

  <p>Ce projet a demandé beaucoup d'investissement, en particulier car nous utilisions beaucoup de technologies et de méthodes de travail dont nous n'avions pas l'habitude, et que nous apprenions en même temps que nous faisions le projet.</p>
  <p>Dans l'ensemble ce fut une très bonne expérience, car j'ai principalement travaillé avec des personnes que je ne connaissait pas, même avec les aléas qui arrivent avec les projets de développement à côté des cours.</p>