
<h1> Mixed Martial Arts and Arch Linux : The best comes from adaptability </h1>

  <p> For a little less than a year now, I've had 2 new interests : Martial Arts and Linux Systems. They are not related in any way, but with both, I've noticed a similar common answer to the question of "Which Martial art/Linux system is the best ?". </p>

  <p> First I have to explain how this question is answered for both, I'll start with martial arts. </p>

<h2> Martial arts : </h2>

  <p> When people ask "What is the best martial art ?", they are asking for : </p>

  <ul>

    <li> <p> The one that does the best against every other fighting style </p> </li>
    <li> <p>  In a context of minimal rules (for example, a Boxer would do terribly against a Wrestler if strikes were prohibited, but the same Wrestler would do terribly against the same Boxer, if only strikes were allowed)  </p> </li>

  </ul>

  <p> For a long time, there wasn't a clear answer to this question, as each martial art (Karate, Boxing, Jiu Jitsu, Judo ...) would claim their style to be superior. </p>

  <p> This was until the 12th of November, 1993, when the first Ultimate Fighting Championship (UFC) took place. Up until this point, Martial Arts competitions were mostly fighters from the same style, fighting under a specific rule set (for example : you don't see competitions between Judo and Karate practitioners in the Olympic Games). </p>

  <p> The UFC was different, in the way that it would pick fighters from different martial arts (Savate, Brazilian Jiu Jitsu, Sumo Wrestling, Boxing ...), and make them fight each others, with as little rules as possible in order to avoid restricting any martial art's potential. </p>

  <p> The winner ended up being Royce Gracie, the Brazilian Jiu Jitsu (BJJ) practitioner.  </p>

  <p> So that's it, BJJ is the best martial arts, right ? </p>

  <p> Well no, not really. The UFC became a frequent event. At first, Grapplers like Royce Gracie kept winning against every other style, but as this mixed martial arts competition became more and more popular, something unexpected happened : a new Martial Art was created. </p>

  <p> It was clear that no style was prepared for BJJ. The only fighters capable of holding their ground against BJJ practitioners, were other grapplers, and the only one able to beat them, were other BJJ practitioners. </p>

  <p> And that's how Mixed Martial Arts (MMA) was created. Instead of focusing on a single Martial Art, they cross trained in the various martial arts that the UFC had proven to be effective. This new style was also extremely flexible, with different athletes having very distinct fighting styles. </p>

  <p> But really MMA only gives you a lot of techniques for you to use. It doesn't enforce a style as much as other martial arts do, as it is the case for Karate. Instead, athletes develop their fighting style based mostly on what works, and what they naturally tend to. </p>


<hr>


<h2> Linux Systems : </h2>

  <p> Answering which Linux System (Linux Distribution) is the best, is a very complex question, as it really depends on what you want from it. </p>

  <p> But something I've noticed, is that it seems that most people who are serious about being a linux user, gravitate toward Arch Linux, which is anything but the obvious choice for a linux distribution. </p>

  <p> When you ask them what they like so much about it, they often say "Customisation". And, it's true. Not only can you change everything, but arch linux makes it easy for you to do so, by providing you with one of the best and largest software repository. </p>

  <p> It's very common to see Arch Linux systems that look absolutely nothing like Windows or MacOS. I mean ... just look at that : </p>

    <img class="article-image" ngSrc="assets/images/ExampleWorkspace.webp" alt="Example Workspace" width="1920" height="1200" priority>
    <a href="https://www.reddit.com/r/unixporn/comments/1j41mqn/hyprland_fighting_against_my_school_to_stay_on/"> Credit to Mikyu__ on Reddit </a>

  <p> Of course it's possible to get something similar on other distributions, even Ubuntu, but it's generally going to be harder, and discouraged. </p>


<hr>


<h2> Conclusion : </h2>

  <p> This made me realize that, in many contexts, the best option is generally the one that offer the most adaptability. Adaptability to the user, and adaptability to the different situations that might be encountered. </p>