:root {
    --main-border-color: #909090;
    --body-border-color: #5cf100;
    --footer-border-color: #fff;
    --nav-border-color: #fff;
    --small-text-border-color: #909090;
    --fallout-terminal: url("/assets/images/fallout-terminal.webp");
    --concrete-background: url("/assets/images/concrete.webp");
    --home-border-color: #ecd11e;
    --articles-border-color: #154fa1;
}