
<div class="section-terminal"><h3>~/$ cat Stage_2025.md</h3></div>

<h1> Stage chez Geomatys (BUT2, 2025) </h1>

  <p> Cette page décrit ce que j'ai fait et appris durant le stage de 2 mois que j'ai effectué au sein de l'entreprise <a class="pf-link" href="https://www.geomatys.com" target="_blank"> Geomatys</a>. Vous trouverez les détails exacts du stage dans mon rapport de stage, et pour des raisons de clarté, je ne ferai que résumer la mission principale. </p>      

<hr>

  <p> Geomatys développe et maintient une application web de suivi de la qualité de l'eau, nommée <a class="pf-link" href="https://aqualit.fr" target="_blank"> Aqualit</a>. Cette application affiche entre autres la position de capteurs sur une carte interactive de la France, capteurs que l'on peut sélectionner, afin d'avoir accès à leurs informations spécifiques. </p>  
  <p> Ma mission était de remplacer la librairie JavaScript de cartographie (celle qui permet l'affichage et l'interaction avec la carte), par une autre, jugée plus esthétique et performante pour l'utilisation que l'on en faisait (affichage 2D). </p>

<hr>

  <p> Ce stage m'a beaucoup appris, particulièrement sur des technologies que je n'aurais pas vues dans le cadre de ma formation à l'IUT, et auxquelles j'aurais probablement mis beaucoup de temps à m'intéresser de mon côté. </p>
  <p> Parmi ces technologies : </p>

  <ul class="liste-a-puce">
      
    <li> <p> <a class="pf-link" routerLink="/Portfolio/Skills/Angular"> Angular</a>, le framework sur lequel était construite l'application </p> </li>
    <li> <p> TypeScript, le langage de script utilisé par Angular, et dérivé de <a class="pf-link" routerLink="/Portfolio/Skills/Web" fragment="JavaScript"> JavaScript</a> </p> </li>
    <li> <p> <a class="pf-link" href="https://maplibre.org/" target="_blank"> Maplibre</a>, la librairie de cartographie remplaçante </p> </li>
    <li> <p> Docker avancé, bien que j'avais déjà beaucoup appris de mon côté, j'ai pu voir et interagir avec son utilisation dans un ensemble d'applications communicantes entre elles. </p> </li>
      
  </ul>

<hr>
<br>

<img class="pf-image" ngSrc="assets/images/aqualit_map.webp" width="800" height="397" alt="Carte Aqualit" priority>