body {
    background-color: black;
    color: white; /* Optional: to make text visible */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    flex: 1 0 auto;
}

footer {
    border-top: var(--footer-border-color) groove 3px;

    flex-shrink: 0;
}

/* les styles globaux sont dans src/styles.css */

.liste-a-puce {
    list-style-type: disc;
}

.liste-a-puce ul {
     list-style-type: circle;
 }

.main-content {
    display: flex;
    max-width: 1075px;

    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    border-color: var(--body-border-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
}

.image-and-text {
    max-width: 25%;
    min-width: 260px;
    border: var(mai) 7px groove;
}

.picofme {
    border: #424242 3px solid;

    max-width: 80%;
    height: auto;

    margin: 5%;
    margin-left: 9%;
    /*border-radius: 20px;*/
}

.footer {
    display: flex;
    justify-content: space-between;
}

.logos {
    border-left: var(--footer-border-color) groove 3px;
    flex: 0 1;
    min-width: max-content;
}

.small-text {
    margin: 10px;
    background-image: var(--fallout-terminal);
    border: var(--small-text-border-color) 7px groove;
}

.arrow {
    display: none;
}

ul {
    list-style-type: none;
}

.small-text > ul > li {
    animation: small-text-animation 2s alternate infinite;
    margin-left: -20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.small-text > ul > .dynamic {
    margin-left: 0;
}

.small-text > ul > .dynamic:hover {
    background-color: #3fa800;
    animation: small-text-hover-animation 2s alternate infinite;
}

.small-text > ul > li:hover > a > .arrow {
    display: revert;
}

li > a {
    color: inherit;
    text-decoration: none;
}

.invis {
    color: rgba(0, 0, 0, 0);
}

.menu-toggle-button {

    display: none;
    position: fixed;
    right: 0;
    background-color: white;
    text-align: center;

    /* from .section-terminal, mostly */
    animation: small-text-animation 2s alternate infinite;
    background-image: var(--fallout-terminal);
    border: var(--small-text-border-color) 7px groove;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-quote {
  flex: 1;
}

/* WARNING ! ugly responsive stuff here */

@media screen and (max-width: 935px) {

    .image-and-text {
        display: none;
    }
    .image-and-text.displayed {
        display: initial;
    }

    .menu-toggle-button {
        display: initial;
    }
}