<body>
    <main>

        <div class="main-content">

            <button class="menu-toggle-button" (click)="toggleMenu()"><<<< display menu</button>

            <div>
            
                <router-outlet></router-outlet>

            </div>

            <div class="image-and-text">
            <img ngSrc="assets/images/picture_close.webp" width="1020" height="930" alt="Picture" class="picofme" priority>
            <div class="terminal-menu small-text">
                <ul>

                <li>Prenom : Yann</li>
                <li>Nom : (Green Jacket) B.</li>
                <li class="dynamic"><a routerLink="AboutMe"><span class="arrow">> </span>About me</a></li>
                <li>- - - - - - - - - - - - - - - -</li>
                <li>Compétences : </li>
                <li class="dynamic"><a routerLink="Skills/Java"><span class="arrow">> </span>Java</a></li>
                <li class="dynamic"><a routerLink="Skills/Web"><span class="arrow">> </span>Web</a></li>
                <li class="dynamic"><a routerLink="Skills/SQL"><span class="arrow">> </span>SQL</a></li>
                <li class="dynamic"><a routerLink="Skills/Angular"><span class="arrow">> </span>Angular</a></li>

                <li>- - - - - - - - - - - - - - - -</li>
                <li>Projets : </li>
                <li class="dynamic"><a routerLink="Projects/SaeTrains"><span class="arrow">> </span>SAE Trains</a></li>
                <li class="dynamic"><a routerLink="Projects/SaeS3"><span class="arrow">> </span>SAE 3eme Semestre</a></li>
                <li class="dynamic"><a routerLink="Projects/NDI2024"><span class="arrow">> </span>Nuit de l'Info</a></li>
                <li class="dynamic"><a routerLink="Projects/Stage2025"><span class="arrow">> </span>Stage 2025 (Aqualit)</a></li>

                </ul>
            </div>
            </div>

        </div>
    </main>

    <custom-footer [style]="'portfolio'"></custom-footer>

</body>