<body>
    <main>

        <div class="main-content">

            <button class="menu-toggle-button" (click)="toggleMenu()"><<<< display menu</button>

            <div>
            
                <router-outlet></router-outlet>

            </div>

            <div class="image-and-text">
            <img ngSrc="assets/images/picture_close.webp" width="1020" height="930" alt="Picture" class="picofme" priority>
            <div class="terminal-menu small-text">
                <ul>

                <li>Prenom : Yann</li>
                <li>Nom : (Green Jacket) B.</li>
                <li class="dynamic" (click)="goTo('')"><span class="arrow">> </span>Page d'accueil</li>
                <li class="dynamic" (click)="goTo('AboutMe')"><span class="arrow">> </span>About me</li>

                <li>- - - - - - - - - - - - - - - -</li>
                <li>Compétences : </li>
                <li class="dynamic" (click)="goTo('/Portfolio/Skills/Java')" ><span class="arrow">> </span>Java</li>
                <li class="dynamic" (click)="goTo('/Portfolio/Skills/Web')" ><span class="arrow">> </span>Web</li>
                <li class="dynamic" (click)="goTo('/Portfolio/Skills/SQL')" ><span class="arrow">> </span>SQL</li>
                <li class="dynamic" (click)="goTo('/Portfolio/Skills/Angular')" ><span class="arrow">> </span>Angular</li>

                <li>- - - - - - - - - - - - - - - -</li>
                <li>Projets : </li>
                <li class="dynamic" (click)="goTo('/Portfolio/Projects/SaeTrains')"><span class="arrow">> </span>SAE Trains</li>
                <li class="dynamic" (click)="goTo('/Portfolio/Projects/SaeS3')"><span class="arrow">> </span>SAE 3eme Semestre</li>
                <li class="dynamic" (click)="goTo('/Portfolio/Projects/NDI2024')"><span class="arrow">> </span>Nuit de l'Info</li>
                <li class="dynamic" (click)="goTo('/Portfolio/Projects/Stage2025')"><span class="arrow">> </span>Stage 2025 (Aqualit)</li>

                </ul>
            </div>
            </div>

        </div>
    </main>

    <custom-footer [style]="'portfolio'"></custom-footer>

</body>